<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Core Django</title>
  </head>
  <body>
    <section class="container-fluid text-center">
        <h1>Hola mundo desde la plantilla.....</h1>
    </section>

    <form method="POST" class="container" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {% if field.html_name == "edad" %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input type="number" name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="form-control">
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% elif field.html_name == "photo" %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input type="file" name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="form-control">
            {% else %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input type="text" name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="form-control">
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
        {% if form.non_field_errors %}
  
                <div class="alert alert-danger errors" role="alert">
                    {{ form.non_field_errors }}
                </div>
 
        {% endif %}
       <!-- <div class="form-group">
            <label for="">Apellido</label>
            <input type="text" name="apellido" id="" class="form-control">
        </div>
        <div class="form-group">
            <label for="id_edad">{{ form.edad.label }}</label>
            <input type="number" name="edad" id="id_edad" class="form-control">
        </div>-->
        <!--{% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger errors" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}-->
        <br>
        <input type="submit" name="guardar" value="Guardar" class="btn btn-outline-info">
    </form>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>

<!--<form method="POST">
    {% csrf_token %} 
    <table>
        {{ form.as_table }}
    </table>
    <span class="helptext" style="color:blue;">{{ form.nombre.help_text }}</span>
    <input type="submit" name="guardar" value="Guardar">
</form>-->





{% for persona in personas %}
    {{ persona.nombre }}<br>
    {{ persona.apellido }}<br>
    {{ persona.edad }}<br>
    {{ persona.created }}<br>
    <hr>
{% endfor %}